.box#flashcardNew
  .field
    %label.label
    .control
      %input{type: 'hidden', value: "#{group.id}", ref: 'group'}
  .field
    %label.label Term
    .control
      %input{type: 'text', name: 'term', class: 'input', ref: 'input'}
  .field
    %label.label Definition
    .control
      %textarea{name: 'definition', class: 'textarea', ref: 'textarea'}
  .field
    %p.control
      %button.button{'v-on:click': 'createFlashcard'} Save
