@import "~bulma/bulma";

.outermost-container { margin: 20px; }

.box {
  border-radius: 0;
  margin: 1px;
}

.button { border-radius: 0; }
.input { border-radius: 0; }
.textarea { border-radius: 0; }
.pagination-link { border-radius: 0; }
.pagination-next { border-radius: 0; }
.pagination-previous { border-radius: 0; }
.navbar-dropdown { border-radius: 0; }
